In [1]:
import sys
import os
sys.path.append(os.path.abspath(".."))

import pandas as pd
from src.load import load_csv,load_pickle
from src.config import RAW_MART_PATH,RAW_LOG_PATH,INTERIM_MART_PATH
from src.clean import (
    drop_high_null_cols,
    drop_unused_mart_cols,
    get_column_summary,
    clean_mart,
    clean_log
)

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

In [ ]:
mart_df = load_csv(RAW_MART_PATH)
mart_df.info()

In [ ]:
mart_df, dropped_by_null = drop_high_null_cols(mart_df, threshold=90)

print(f"Dropped {len(dropped_by_null)}")
dropped_by_null

In [ ]:
mart_df = drop_unused_mart_cols(mart_df)

In [ ]:
col_summary = get_column_summary(mart_df)
col_summary

In [ ]:
clean_mart_df = clean_mart(mart_df)

In [ ]:
clean_mart_summary = get_column_summary(clean_mart_df)
clean_mart_summary

In [ ]:
interim_path = "../data/interim/interim_mart.pkl"
clean_mart_df.to_pickle(interim_path)

print(f" 파일 저장 완료: {interim_path}")

In [2]:
from src.load import load_pickle

In [3]:
log_df  = load_pickle(RAW_LOG_PATH)

In [4]:
log_df.head(10)

,sha2_hash,asset,asset_nm,CT_CL,genre_of_ct_cl,use_tms,disp_rtm,strt_dt,category
0,992c0dd6bafc5df33e86ece4885d574d25288d06530c65...,cjc|M4767613LSGK41566601,날 녹여주오 04회,TV드라마,외화 시리즈,3660.0,01:01,2023-01-23 17:08:58,CJ ENM/CJENM구작/날 녹여주오
1,ea62338ac5b6b11cf02ef8bf1889d1a063cec2c2493937...,cjc|M5140475LSGL08601501,압꾸정,영화,코미디,2.0,01:51,2023-01-23 22:28:46,영화/(HD)극장동시상영관
2,36aa302f3705794f5c2e5a971f38c8ef3c5a789e915c94...,cjc|M5079740LSVK14589601,어웨이크(2021),영화,공포/스릴러,7.0,01:14,2023-01-23 21:09:40,영화월정액관/무비n시리즈/범죄공포
3,d1ff76342bbc4f23f82c318b1f7a0ffc78f0b5ad2d1314...,cjc|M4574740LFOL08934201,동글동글 동물친구 시즌2 01회,키즈,기타,60.0,00:01,2023-01-23 09:05:10,키즈어린이/영어-놀이학습/동글동글 동물친구 시즌2
4,8cf3e070a173520f59e24b246ef83a1140c26d260c4ddd...,cjc|M5055522LFOI39238101,1박2일 시즌4 127회(22/05/29),TV 연예/오락,기타,157.0,01:19,2023-01-23 21:30:28,KBS/(HD)KBS 연예오락/1박2일 시즌4
5,7989cd8e8272b9dbfe94a7253809a7d64d22ce0449ca45...,cjc|M4818070LSVH73774901,학려화정 60회.,TV드라마,외화 시리즈,7.0,00:42,2023-01-23 03:24:27,해외드라마/무비n시리즈/학려화정
6,6c2fcacab6bba01b83d912bb6241f00d0296a3dd9b3add...,cjc|M5148050LSGL25460601,(할인)탑건: 매버릭,영화,액션/어드벤쳐,7571.0,02:10,2023-01-23 19:26:08,오늘의추천/반값할인관1
7,6939dee90e40ace55463b17e418084f13f5262886aec3e...,cjc|M5042788LSGL28317101,(HD)런닝맨 638회(23/01/22),TV 연예/오락,기타,5280.0,01:28,2023-01-23 10:16:48,SBS/(HD)SBS 연예오락/(HD)런닝맨
8,2b365d07914ab58d3a99e014ba7bc24f0ea7335ecf24cb...,cjc|M5035408LFOJ17822601,(HD)복면가왕 367회(22/07/31),TV 연예/오락,기타,5079.0,01:25,2023-01-23 19:29:43,MBC/(HD)MBC 연예오락/(HD)복면가왕
9,158e438e7d68ed90deb7dd3bc747ac552ba5a9032071a3...,cjc|M5010409LSVI64860301,(더빙)겜브링TV NEW 어드벤처 06회(G),TV애니메이션,기타,1140.0,00:19,2023-01-23 10:01:47,애니메이션/게임애니팩토리/(더빙)겜브링TV NEW 어드벤처

In [5]:
log_df_summary = get_column_summary(log_df)
log_df_summary

           column           dtype  null_cnt  null_rate  unique_cnt
0       sha2_hash          object         0       0.00      817119
1           asset          object     13997       0.03      439170
2        asset_nm          object   1157048       2.28      340030
3           CT_CL          object   1157048       2.28          15
4  genre_of_ct_cl          object   1157048       2.28          59
5         use_tms         float64         1       0.00       20494
6        disp_rtm          object   1157048       2.28         359
7         strt_dt  datetime64[ns]         1       0.00    17365219
8        category          object   1183154       2.33       19419

In [6]:
clean_log_df = clean_log(log_df)

In [7]:
clean_log_summary = get_column_summary(clean_log_df)
clean_log_summary

           column           dtype  null_cnt  null_rate  unique_cnt
0       sha2_hash        category         0       0.00      817119
1           asset        category     13997       0.03      439170
2        asset_nm        category   1157048       2.28      340030
3           CT_CL        category   1157048       2.28          15
4  genre_of_ct_cl        category   1157048       2.28          59
5         use_tms           Int64         1       0.00       20494
6         strt_dt  datetime64[ns]         1       0.00    17365219
7        category        category   1183154       2.33       19419
8    disp_rtm_sec           Int64   1157048       2.28         352

In [8]:
interim_path = "../data/interim/interim_log.pkl"
clean_log_df.to_pickle(interim_path)

print(f" 파일 저장 완료: {interim_path}")

 파일 저장 완료: ../data/interim/interim_log.pkl

- interim

In [ ]:
from src.load import load_interim_file

In [ ]:
interim_log = load_interim_file(file_type="log")
interim_mart = load_interim_file(file_type="mart")

In [ ]:
interim_log.head(10)

In [ ]:
interim_log_summary = get_column_summary(interim_log)
interim_log_summary

In [ ]:
interim_mart_summary = get_column_summary(interim_mart)
interim_mart_summary