In [1]:
from pathlib import Path
import pandas as pd
import sys
import os
sys.path.append(os.path.abspath(".."))

BASE_DIR = Path().resolve().parent

DATA_DIR = BASE_DIR / "data"
RAW_DIR = DATA_DIR / "raw"
INTERIM_DIR = DATA_DIR / "interim"
PROCESSED_DIR = DATA_DIR / "processed"

MART_RAW_PATH = RAW_DIR / "mart_raw.csv"
LOG_RAW_PATH = RAW_DIR / "log_raw.pkl"
TPS_RAW_PATH = RAW_DIR / "tps_raw.csv"

LOG_INT_PATH = INTERIM_DIR / "log_int.pkl"
MART_INT_PATH = INTERIM_DIR / "mart_int.pkl"
TPS_INT_PATH = INTERIM_DIR / "tps_int.pkl"

In [2]:
LOG_PRC_PATH = PROCESSED_DIR / "log_prc.pkl"
MART_PRC_PATH = PROCESSED_DIR / "mart_prc.pkl"
TPS_PRC_PATH = PROCESSED_DIR / "tps_prc.pkl"

In [3]:
from src.validate import check_id_matching

from src.clean import (
    drop_high_null_cols,
    drop_mart_cols,
    drop_log_cols,
    get_column_summary,
    clean_mart,
    clean_log,
)

from src.encoder import (
    encode_asset_prod,
    encode_screen_tp,
    encode_publctn_bit
)

pd.set_option("display.max_rows", None)
pd.set_option("display.max_columns", None)

In [4]:
mart_raw = pd.read_csv(MART_RAW_PATH, 
                       sep = ",", 
                       encoding = 'utf-8', 
                       engine="python",
                       on_bad_lines="skip")
mart_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470064 entries, 0 to 470063
Data columns (total 88 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   asset_id            470064 non-null  object
 1   actr_disp           470060 non-null  object
 2   asset_nm            470064 non-null  object
 3   asset_prod          470064 non-null  object
 4   aud                 0 non-null       float64
 5   audience_cnt        0 non-null       float64
 6   broad_ymd           466682 non-null  object
 7   category            468827 non-null  object
 8   chapter             468852 non-null  object
 9   created             470064 non-null  int64
 10  created_by          470064 non-null  object
 11  crt_ymd             467690 non-null  object
 12  ct_cl               470064 non-null  object
 13  cts_id              468751 non-null  object
 14  description         470064 non-null  object
 15  director            470036 non-null  object
 16  disp_as_lst_chnc    3575 non-null    float64
 17  disp_as_new         3575 non-null    float64
 18  disp_rtm            470064 non-null  object
 19  dsbtr_nm            0 non-null       float64
 20  epsd_id             469976 non-null  object
 21  epsd_nm             470064 non-null  object
 22  epsd_no             469720 non-null  float64
 23  full_asset_id       470064 non-null  object
 24  genre               470064 non-null  object
 25  genre_of_ct_cl      470064 non-null  object
 26  genre_of_ct_cl_cd   470064 non-null  int64
 27  grade_score         0 non-null       float64
 28  hash_tag            0 non-null       float64
 29  img_base_dir        468436 non-null  object
 30  is_hot_fl           467340 non-null  float64
 31  is_new_fl           467340 non-null  float64
 32  long_tail_fl        468858 non-null  float64
 33  lt_inclsn_fl        470064 non-null  int64
 34  mobile_watch_url    0 non-null       float64
 35  one_line_review     0 non-null       float64
 36  orgnl_air_dt        0 non-null       float64
 37  orgnl_cntry         469996 non-null  object
 38  poster_del_fl       470064 non-null  int64
 39  poster_pt           469081 non-null  object
 40  prdcrs              1 non-null       object
 41  preview_file_nm     13994 non-null   object
 42  preview_rate        13994 non-null   float64
 43  preview_rtm         13994 non-null   object
 44  prevw_prd           470064 non-null  int64
 45  product_tp          470042 non-null  float64
 46  provider            470064 non-null  object
 47  prpgt_pri           470064 non-null  int64
 48  prvd_id             470064 non-null  object
 49  publctn_rt          468558 non-null  object
 50  rate                470064 non-null  int64
 51  rlse_year           470059 non-null  float64
 52  rvsn_id             470064 non-null  int64
 53  screen_tp           470053 non-null  object
 54  seasn_fin_fl        3575 non-null    float64
 55  seasn_prem_fl       2369 non-null    float64
 56  series_sq           358292 non-null  float64
 57  show_tp             0 non-null       float64
 58  smry                470012 non-null  object
 59  smry_lng            470014 non-null  object
 60  smry_shrt           470014 non-null  object
 61  sp_id               470031 non-null  object
 62  star_score          0 non-null       float64
 63  studio              469065 non-null  object
 64  studio_cd           91316 non-null   object
 65  studio_nm           468976 non-null  object
 66  sub_title           0 non-null       float64
 67  super_asset_id      469068 non-null  object
 68  super_asset_nm      468718 non-null  object
 69  super_asset_sq      467745 non-null  float64
 70  svc_applied         17152 non-null   float64
 71  svc_apy_fl          470031 non-null  float64
 72  thmbnl_del_fl       470031 non-null  float64
 73  thmbnl_fl           458013 non-null  float64
 74  thmbnl_pt           455296 non-null  object
 75  thmbnl_rep_file_nm  455296 non-null  object
 76  ttl                 469958 non-null  object
 77  ttl_brief           470031 non-null  object
 78  ttl_lng             2369 non-null    object
 79  ttl_mdm             2385 non-null    object
 80  ttl_sort_nm         3920 non-null    object
 81  updated             470031 non-null  float64
 82  use_fl              470031 non-null  float64
 83  ver_major           470031 non-null  float64
 84  ver_minor           470031 non-null  float64
 85  vod_acq_tp_cd       470031 non-null  object
 86  wrtr_disp           467494 non-null  object
 87  asset_5             470064 non-null  object
dtypes: float64(32), int64(8), object(48)
memory usage: 315.6+ MB

In [5]:
mart_raw, dropped_by_null = drop_high_null_cols(mart_raw, threshold=90)

print(f"Dropped {len(dropped_by_null)}")
dropped_by_null

Dropped 23

['aud',
 'audience_cnt',
 'disp_as_lst_chnc',
 'disp_as_new',
 'dsbtr_nm',
 'grade_score',
 'hash_tag',
 'mobile_watch_url',
 'one_line_review',
 'orgnl_air_dt',
 'prdcrs',
 'preview_file_nm',
 'preview_rate',
 'preview_rtm',
 'seasn_fin_fl',
 'seasn_prem_fl',
 'show_tp',
 'star_score',
 'sub_title',
 'svc_applied',
 'ttl_lng',
 'ttl_mdm',
 'ttl_sort_nm']

In [6]:
mart_raw_sum = get_column_summary(mart_raw)
mart_raw_sum

                column    dtype  null_cnt  null_rate  unique_cnt
0             asset_id   object         0       0.00      470064
1            actr_disp   object         4       0.00       41757
2             asset_nm   object         0       0.00      360181
3           asset_prod   object         0       0.00           3
4            broad_ymd   object      3382       0.72       10575
5             category   object      1237       0.26       20122
6              chapter   object      1212       0.26       17483
7              created    int64         0       0.00      465546
8           created_by   object         0       0.00          11
9              crt_ymd   object      2374       0.51        2218
10               ct_cl   object         0       0.00          15
11              cts_id   object      1313       0.28      468747
12         description   object         0       0.00      374560
13            director   object        28       0.01       16761
14            disp_rtm   object         0       0.00         359
15             epsd_id   object        88       0.02      305144
16             epsd_nm   object         0       0.00      374274
17             epsd_no  float64       344       0.07        2546
18       full_asset_id   object         0       0.00      470064
19               genre   object         0       0.00          80
20      genre_of_ct_cl   object         0       0.00          59
21   genre_of_ct_cl_cd    int64         0       0.00          18
22        img_base_dir   object      1628       0.35           1
23           is_hot_fl  float64      2724       0.58           1
24           is_new_fl  float64      2724       0.58           1
25        long_tail_fl  float64      1206       0.26           1
26        lt_inclsn_fl    int64         0       0.00           2
27         orgnl_cntry   object        68       0.01          96
28       poster_del_fl    int64         0       0.00           2
29           poster_pt   object       983       0.21      374861
30           prevw_prd    int64         0       0.00           2
31          product_tp  float64        22       0.00           8
32            provider   object         0       0.00         329
33           prpgt_pri    int64         0       0.00          11
34             prvd_id   object         0       0.00           4
35          publctn_rt   object      1506       0.32           8
36                rate    int64         0       0.00           5
37           rlse_year  float64         5       0.00         100
38             rvsn_id    int64         0       0.00           1
39           screen_tp   object        11       0.00           3
40           series_sq  float64    111772      23.78       19739
41                smry   object        52       0.01      276208
42            smry_lng   object        50       0.01      276199
43           smry_shrt   object        50       0.01      275419
44               sp_id   object        33       0.01           2
45              studio   object       999       0.21          11
46           studio_cd   object    378748      80.57           1
47           studio_nm   object      1088       0.23        5002
48      super_asset_id   object       996       0.21      282852
49      super_asset_nm   object      1346       0.29       45845
50      super_asset_sq  float64      2319       0.49      283739
51          svc_apy_fl  float64        33       0.01           1
52       thmbnl_del_fl  float64        33       0.01           2
53           thmbnl_fl  float64     12051       2.56           2
54           thmbnl_pt   object     14768       3.14      362241
55  thmbnl_rep_file_nm   object     14768       3.14           2
56                 ttl   object       106       0.02      360079
57           ttl_brief   object        33       0.01      468845
58             updated  float64        33       0.01      444506
59              use_fl  float64        33       0.01           1
60           ver_major  float64        33       0.01           1
61           ver_minor  float64        33       0.01           1
62       vod_acq_tp_cd   object        33       0.01           3
63           wrtr_disp   object      2570       0.55       17764
64             asset_5   object         0       0.00      470064

In [7]:
mart_raw = drop_mart_cols(mart_raw)

In [8]:
mart_clean = clean_mart(mart_raw)

In [9]:
mart_clean_sum = get_column_summary(mart_clean)
mart_clean_sum

               column           dtype  null_cnt  null_rate  unique_cnt
0           actr_disp        category         0       0.00       41758
1            asset_nm        category         0       0.00      360181
2          asset_prod        category         0       0.00           3
3           broad_ymd  datetime64[ns]      3385       0.72       10572
4            category        category         0       0.00       20123
5             created  datetime64[ns]         0       0.00      465546
6          created_by        category         0       0.00          11
7             crt_ymd  datetime64[ns]      2724       0.58        2184
8               ct_cl        category         0       0.00          15
9              cts_id        category         0       0.00      468748
10            epsd_id        category         0       0.00      305145
11            epsd_no        category         0       0.00        2547
12      full_asset_id        category         0       0.00      470064
13              genre        category         0       0.00          80
14     genre_of_ct_cl        category         0       0.00          59
15  genre_of_ct_cl_cd           int64         0       0.00          18
16         product_tp           Int64        22       0.00           8
17          prpgt_pri           int64         0       0.00          11
18         publctn_rt        category         0       0.00           9
19               rate           int64         0       0.00           5
20          rlse_year  datetime64[ns]         5       0.00         100
21          screen_tp        category         0       0.00           4
22          studio_nm        category         0       0.00        5003
23     super_asset_id        category         0       0.00      282853
24     super_asset_nm        category         0       0.00       45845
25                ttl        category         0       0.00      360080

In [10]:
mart_int_path = "../data/interim/mart_int.pkl"
mart_clean.to_pickle(mart_int_path)
print(f" 파일 저장 완료: {mart_int_path}")

 파일 저장 완료: ../data/interim/mart_int.pkl

In [11]:
log_raw = pd.read_pickle(LOG_RAW_PATH)
log_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50804390 entries, 0 to 50804389
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   sha2_hash       object
 1   asset           object
 2   asset_nm        object
 3   CT_CL           object
 4   genre_of_ct_cl  object
 5   use_tms         float64
 6   disp_rtm        object
 7   strt_dt         datetime64[ns]
 8   category        object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 3.4+ GB

In [12]:
log_raw_sum = get_column_summary(log_raw)
log_raw_sum

           column           dtype  null_cnt  null_rate  unique_cnt
0       sha2_hash          object         0       0.00      817119
1           asset          object     13997       0.03      439170
2        asset_nm          object   1157048       2.28      340030
3           CT_CL          object   1157048       2.28          15
4  genre_of_ct_cl          object   1157048       2.28          59
5         use_tms         float64         1       0.00       20494
6        disp_rtm          object   1157048       2.28         359
7         strt_dt  datetime64[ns]         1       0.00    17365219
8        category          object   1183154       2.33       19419

In [13]:
log_raw = drop_log_cols(log_raw)

In [14]:
log_clean = clean_log(log_raw)

In [15]:
log_clean_sum = get_column_summary(log_clean)
log_clean_sum

         column           dtype  null_cnt  null_rate  unique_cnt
0     sha2_hash        category         0       0.00      817119
1         asset        category         0       0.00      439171
2       use_tms           Int64         1       0.00       20494
3       strt_dt  datetime64[ns]         1       0.00    17365219
4  disp_rtm_sec           Int64   1157048       2.28         352

In [16]:
log_int_path = "../data/interim/log_int.pkl"
log_clean.to_pickle(log_int_path)
print(f" 파일 저장 완료: {log_int_path}")

 파일 저장 완료: ../data/interim/log_int.pkl

In [ ]:
tps_raw = pd.read_csv(TPS_RAW_PATH,  
                        sep = "|", 
                        encoding = 'utf-8')
tps_raw.info()

In [ ]:
tps_raw.info()

In [ ]:
tps_raw.head(3)

In [ ]:
obj_cols = tps_raw.select_dtypes(include="object").columns
tps_raw[obj_cols] = tps_raw[obj_cols].astype("category")

In [ ]:
tps_raw["AGE_GRP10"] = tps_raw["AGE_GRP10"].astype("category")
tps_raw["KIDS_USE_PV_MONTH1"] = tps_raw["KIDS_USE_PV_MONTH1"].astype("float32")

In [ ]:
tps_raw_sum = get_column_summary(tps_raw)
tps_raw_sum

In [ ]:
tps_int_path = "../data/interim/tps_int.pkl"
tps_raw.to_pickle(tps_int_path)
print(f" 파일 저장 완료: {tps_int_path}")

- interim

In [17]:
log_int = pd.read_pickle(LOG_INT_PATH)
log_int.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50804390 entries, 0 to 50804389
Data columns (total 5 columns):
 #   Column        Dtype
---  ------        -----
 0   sha2_hash     category
 1   asset         category
 2   use_tms       Int64
 3   strt_dt       datetime64[ns]
 4   disp_rtm_sec  Int64
dtypes: Int64(2), category(2), datetime64[ns](1)
memory usage: 1.6 GB

In [18]:
tps_int = pd.read_pickle(TPS_INT_PATH)
tps_int.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21719882 entries, 0 to 21719881
Data columns (total 39 columns):
 #   Column                     Dtype
---  ------                     -----
 0   sha2_hash                  category
 1   SVC_USE_DAYS_GRP           int64
 2   MEDIA_NM_GRP               category
 3   PROD_NM_GRP                category
 4   PROD_OLD_YN                int64
 5   PROD_ONE_PLUS_YN           int64
 6   AGMT_KIND_NM               category
 7   STB_RES_1M_YN              int64
 8   SVOD_SCRB_CNT_GRP          int64
 9   PAID_CHNL_CNT_GRP          int64
 10  SCRB_PATH_NM_GRP           category
 11  INHOME_RATE                float64
 12  AGMT_END_SEG               int64
 13  TOTAL_USED_DAYS            int64
 14  TV_SCRB                    int64
 15  ANALOG_SCRB                int64
 16  DIGITAL_SCRB               int64
 17  TOTAL_INTERNET_SCRB        int64
 18  GIGA_INTERNET_SCRB         int64
 19  BUNDLE_YN                  int64
 20  DIGITAL_GIGA_YN            int64
 21  DIGITAL_ALOG_YN            int64
 22  TV_I_CNT                   int64
 23  CH_LAST_DAYS_BF_GRP        int64
 24  VOC_TOTAL_MONTH1_YN        int64
 25  VOC_STOP_CANCEL_MONTH1_YN  int64
 26  AGE_GRP10                  category
 27  EMAIL_RECV_CLS_NM          category
 28  SMS_SEND_CLS_NM            category
 29  CH_HH_AVG_MONTH1           float64
 30  CH_25_RATIO_MONTH1         float64
 31  CH_25_RATIO_MEAN_3MM       float64
 32  CH_FAV_RNK1                category
 33  KIDS_USE_PV_MONTH1         float32
 34  NFX_USE_YN                 int64
 35  YTB_USE_YN                 int64
 36  p_mt                       int64
 37  cancel_yn                  category
 38  time                       int64
dtypes: category(10), float32(1), float64(4), int64(24)
memory usage: 4.9 GB

In [19]:
mart_int = pd.read_pickle(MART_INT_PATH)
mart_int.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470064 entries, 0 to 470063
Data columns (total 26 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   actr_disp          470064 non-null  category
 1   asset_nm           470064 non-null  category
 2   asset_prod         470064 non-null  category
 3   broad_ymd          466679 non-null  datetime64[ns]
 4   category           470064 non-null  category
 5   created            470064 non-null  datetime64[ns]
 6   created_by         470064 non-null  category
 7   crt_ymd            467340 non-null  datetime64[ns]
 8   ct_cl              470064 non-null  category
 9   cts_id             470064 non-null  category
 10  epsd_id            470064 non-null  category
 11  epsd_no            470064 non-null  category
 12  full_asset_id      470064 non-null  category
 13  genre              470064 non-null  category
 14  genre_of_ct_cl     470064 non-null  category
 15  genre_of_ct_cl_cd  470064 non-null  int64
 16  product_tp         470042 non-null  Int64
 17  prpgt_pri          470064 non-null  int64
 18  publctn_rt         470064 non-null  category
 19  rate               470064 non-null  int64
 20  rlse_year          470059 non-null  datetime64[ns]
 21  screen_tp          470064 non-null  category
 22  studio_nm          470064 non-null  category
 23  super_asset_id     470064 non-null  category
 24  super_asset_nm     470064 non-null  category
 25  ttl                470064 non-null  category
dtypes: Int64(1), category(18), datetime64[ns](4), int64(3)
memory usage: 67.3 MB

In [20]:
mart_int['asset_prod'].value_counts().head(10)
mart_int['asset_prod'], uniques = pd.factorize(mart_int['asset_prod'])

uniques

CategoricalIndex(['FOD', 'RVOD', 'SVOD'], categories=['FOD', 'RVOD', 'SVOD'], ordered=False, dtype='category')

In [21]:
mart_int = encode_asset_prod(mart_int)

In [22]:
mart_int['screen_tp'].value_counts().head(10)
mart_int['screen_tp'], uniques = pd.factorize(mart_int['screen_tp'])

uniques

CategoricalIndex(['HD', 'unknown', 'SD', 'UHD'], categories=['HD', 'SD', 'UHD', 'unknown'], ordered=False, dtype='category')

In [23]:
mart_int = encode_screen_tp(mart_int)

In [24]:
mart_int = encode_publctn_bit(mart_int)

In [25]:
mart_int.head(5)

,actr_disp,asset_nm,asset_prod,broad_ymd,category,created,created_by,crt_ymd,ct_cl,cts_id,epsd_id,epsd_no,full_asset_id,genre,genre_of_ct_cl,genre_of_ct_cl_cd,product_tp,prpgt_pri,publctn_rt,rate,rlse_year,screen_tp,studio_nm,super_asset_id,super_asset_nm,ttl
0,"양택조,김영환",건강 체조,-1,NaT,지역콘텐츠/CCS충북/건강 체조,1970-01-01 05:36:51.126152916,VODIN:2.0.3,2021-11-26,기타,CCS000001,건강 체조_1,1.0,CCS|CCS00000000000000101,기타,기타,0,10,1,1,0,1970-01-01 00:00:00.000002010,-1,CCS충북방송,null-00001,건강 체조,건강 체조
1,-,자연을 닮은 농부들,-1,NaT,지역콘텐츠/CCS충북/의림지뜰 사람들,1970-01-01 05:36:51.223151741,VODIN:2.0.3,2021-12-23,기타,CCS000006,의림지뜰 사람들_1,1.0,CCS|CCS00000000000000601,다큐,기타,0,10,1,1,15,1970-01-01 00:00:00.000002021,-1,CCS충북방송,null-00001,자연을 닮은 농부들,자연을 닮은 농부들
2,-,가을의 추억,-1,NaT,지역콘텐츠/CCS충북/의림지뜰 사람들,1970-01-01 05:36:51.225171925,VODIN:2.0.3,2021-12-25,기타,CCS000007,의림지뜰 사람들_2,2.0,CCS|CCS00000000000000701,다큐,기타,0,10,1,1,15,1970-01-01 00:00:00.000002021,-1,CCS충북방송,null-00002,가을의 추억,가을의 추억
3,-,덤벙김치 담그는 날,-1,NaT,지역콘텐츠/CCS충북/의림지뜰 사람들,1970-01-01 05:36:51.225172138,VODIN:2.0.3,2021-12-25,기타,CCS000008,의림지뜰 사람들_3,3.0,CCS|CCS00000000000000801,다큐,기타,0,10,1,1,15,1970-01-01 00:00:00.000002021,-1,CCS충북방송,null-00003,덤벙김치 담그는 날,덤벙김치 담그는 날
4,-,새로운 도전의 시작,-1,NaT,지역콘텐츠/CCS충북/의림지뜰 사람들,1970-01-01 05:36:51.225172359,VODIN:2.0.3,2021-12-25,기타,CCS000009,의림지뜰 사람들_4,4.0,CCS|CCS00000000000000901,다큐,기타,0,10,1,1,15,1970-01-01 00:00:00.000002021,-1,CCS충북방송,null-00004,새로운 도전의 시작,새로운 도전의 시작

In [26]:
mart_int_sum = get_column_summary(mart_int)
mart_int_sum

               column           dtype  null_cnt  null_rate  unique_cnt
0           actr_disp        category         0       0.00       41758
1            asset_nm        category         0       0.00      360181
2          asset_prod            int8         0       0.00           1
3           broad_ymd  datetime64[ns]      3385       0.72       10572
4            category        category         0       0.00       20123
5             created  datetime64[ns]         0       0.00      465546
6          created_by        category         0       0.00          11
7             crt_ymd  datetime64[ns]      2724       0.58        2184
8               ct_cl        category         0       0.00          15
9              cts_id        category         0       0.00      468748
10            epsd_id        category         0       0.00      305145
11            epsd_no        category         0       0.00        2547
12      full_asset_id        category         0       0.00      470064
13              genre        category         0       0.00          80
14     genre_of_ct_cl        category         0       0.00          59
15  genre_of_ct_cl_cd           int64         0       0.00          18
16         product_tp           Int64        22       0.00           8
17          prpgt_pri           int64         0       0.00          11
18         publctn_rt           int64         0       0.00           6
19               rate           int64         0       0.00           5
20          rlse_year  datetime64[ns]         5       0.00         100
21          screen_tp            int8         0       0.00           1
22          studio_nm        category         0       0.00        5003
23     super_asset_id        category         0       0.00      282853
24     super_asset_nm        category         0       0.00       45845
25                ttl        category         0       0.00      360080

In [27]:
l_users = list(log_int['sha2_hash'].unique())
t_users = list(tps_int['sha2_hash'].unique())

In [28]:
m_ids = list(mart_int['full_asset_id'].unique())
l_ids = list(log_int['asset'].unique())

In [29]:
tps_log_match = check_id_matching(
    tps_int['sha2_hash'],
    log_int['sha2_hash'],
    dataset_type="tps_vs_log"
)

1. 공통 ID 개수 : 581,223개
2. Log 매칭률   : 71.13% (Log 중 TPS 정보가 존재하는 비율)
3. TPS 매칭률  : 26.90% (TPS 중 Log 정보가 존재하는 비율)
 경고: Log에는 있으나 TPS에 없는 ID가 235,896개 있습니다.
   예시: ['0bf3eb33594b68bcac00d57fdde368921e6a9eed3cf86c0c714c9da343fbc366', '79a462dda78505d586abc8a5f0d408f8d47827a2005196eb8031036cd190ed7d', '87b20809ee31fda00b53406baa0cdd55f6c4bec01aeea0062f4eca8fcdaf8ed1', 'c0d237250b160a3e0a7e1640316bf0bb2e8ff7d481ecd4f6ca1b165b3cf9565e', 'b1c74e41716fd4c9a27aecca4832c00e9c50093b11a2ed039306183cdd978c8a']

In [30]:
mart_log_match = check_id_matching(
    mart_int['full_asset_id'],
    log_int['asset'],
    dataset_type="mart_vs_log"
)

1. 공통 ID 개수 : 438,961개
2. Log 매칭률   : 99.95% (Log 중 Mart 정보가 존재하는 비율)
3. Mart 매칭률  : 93.38% (Mart 중 Log 정보가 존재하는 비율)
 경고: Log에는 있으나 Mart에 없는 ID가 210개 있습니다.
   예시: ['cjc|M5168583LSVM89023601', 'CJIQ2205241711083557', 'CCS|CCS10000000000091701', 'CJPF2205241556083509', 'cjc|M5126592LSVK72696001']

In [32]:
log_prc_path  = "../data/processed/log_prc.pkl"
mart_prc_path = "../data/processed/mart_prc.pkl"
tps_prc_path  = "../data/processed/tps_prc.pkl"
log_int.to_pickle(log_prc_path)
mart_int.to_pickle(mart_prc_path)
tps_int.to_pickle(tps_prc_path)
print(f" 파일 저장 완료: {log_prc_path}")
print(f" 파일 저장 완료: {mart_prc_path}")
print(f" 파일 저장 완료: {tps_prc_path}")

 파일 저장 완료: ../data/processed/log_prc.pkl
 파일 저장 완료: ../data/processed/mart_prc.pkl
 파일 저장 완료: ../data/processed/tps_prc.pkl