In [1]:
from pathlib import Path
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import sys
import os

sys.path.append(os.path.abspath(".."))
fig_dir = '../outputs/figures'
os.makedirs(fig_dir, exist_ok=True)

BASE_DIR = Path().resolve().parent

DATA_DIR = BASE_DIR / "data"
RAW_DIR = DATA_DIR / "raw"
INTERIM_DIR = DATA_DIR / "interim"
PROCESSED_DIR = DATA_DIR / "processed"


FINAL_DATASET_PATH = PROCESSED_DIR / "tps_log_mart_sample_50k.csv"


plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False

In [2]:
fin_sample = pd.read_csv(FINAL_DATASET_PATH,     
                       sep = ",", 
                       encoding = 'utf-8', 
                       engine="python",
                       on_bad_lines="skip")

In [3]:
object_cols = fin_sample.select_dtypes(include='object').columns
fin_sample[object_cols] = fin_sample[object_cols].apply(lambda x: x.astype('category'))

float_cols = fin_sample.select_dtypes(include='float64').columns
fin_sample[float_cols] = fin_sample[float_cols].apply(lambda x: x.fillna(0).astype('int64'))

In [4]:
fin_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599248 entries, 0 to 599247
Data columns (total 40 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   asset_prod            599248 non-null  category
 1   asset_nm              599248 non-null  category
 2   ct_cl                 599248 non-null  category
 3   disp_rtm              599248 non-null  category
 4   is_hot_fl             599248 non-null  int64
 5   is_new_fl             599248 non-null  int64
 6   long_tail_fl          599248 non-null  int64
 7   prevw_prd             599248 non-null  int64
 8   studio                599207 non-null  category
 9   director              599216 non-null  category
 10  sha2_hash             599248 non-null  category
 11  asset                 599248 non-null  category
 12  use_tms               599248 non-null  int64
 13  disp_rtm_1            587758 non-null  category
 14  s_qt                  599248 non-null  category
 15  SVC_USE_DAYS_GRP      599248 non-null  int64
 16  TOTAL_USED_DAYS       599248 non-null  int64
 17  INHOME_RATE           599248 non-null  int64
 18  CH_HH_AVG_MONTH1      599248 non-null  int64
 19  CH_25_RATIO_MONTH1    599248 non-null  int64
 20  CH_25_RATIO_MEAN_3MM  599248 non-null  int64
 21  CH_LAST_DAYS_BF_GRP   599248 non-null  int64
 22  MEDIA_NM_GRP          599248 non-null  category
 23  PROD_NM_GRP           599248 non-null  category
 24  AGMT_KIND_NM          599248 non-null  category
 25  SCRB_PATH_NM_GRP      599248 non-null  category
 26  CH_FAV_RNK1           599248 non-null  category
 27  KIDS_USE_PV_MONTH1    599248 non-null  int64
 28  SVOD_SCRB_CNT_GRP     599248 non-null  int64
 29  PAID_CHNL_CNT_GRP     599248 non-null  int64
 30  TV_SCRB               599248 non-null  int64
 31  ANALOG_SCRB           599248 non-null  int64
 32  DIGITAL_SCRB          599248 non-null  int64
 33  TOTAL_INTERNET_SCRB   599248 non-null  int64
 34  GIGA_INTERNET_SCRB    599248 non-null  int64
 35  BUNDLE_YN             599248 non-null  int64
 36  DIGITAL_GIGA_YN       599248 non-null  int64
 37  DIGITAL_ALOG_YN       599248 non-null  int64
 38  TV_I_CNT              599248 non-null  int64
 39  AGE_GRP10             599248 non-null  int64
dtypes: category(15), int64(25)
memory usage: 145.1 MB

In [5]:
fin_sample_path = "../data/processed/fin_sample.pkl"
fin_sample.to_pickle(fin_sample_path)
print(f" 파일 저장 완료: {fin_sample_path}")

 파일 저장 완료: ../data/processed/fin_sample.pkl

In [6]:
fin_sample = pd.read_pickle(fin_sample_path)
fin_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599248 entries, 0 to 599247
Data columns (total 40 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   asset_prod            599248 non-null  category
 1   asset_nm              599248 non-null  category
 2   ct_cl                 599248 non-null  category
 3   disp_rtm              599248 non-null  category
 4   is_hot_fl             599248 non-null  int64
 5   is_new_fl             599248 non-null  int64
 6   long_tail_fl          599248 non-null  int64
 7   prevw_prd             599248 non-null  int64
 8   studio                599207 non-null  category
 9   director              599216 non-null  category
 10  sha2_hash             599248 non-null  category
 11  asset                 599248 non-null  category
 12  use_tms               599248 non-null  int64
 13  disp_rtm_1            587758 non-null  category
 14  s_qt                  599248 non-null  category
 15  SVC_USE_DAYS_GRP      599248 non-null  int64
 16  TOTAL_USED_DAYS       599248 non-null  int64
 17  INHOME_RATE           599248 non-null  int64
 18  CH_HH_AVG_MONTH1      599248 non-null  int64
 19  CH_25_RATIO_MONTH1    599248 non-null  int64
 20  CH_25_RATIO_MEAN_3MM  599248 non-null  int64
 21  CH_LAST_DAYS_BF_GRP   599248 non-null  int64
 22  MEDIA_NM_GRP          599248 non-null  category
 23  PROD_NM_GRP           599248 non-null  category
 24  AGMT_KIND_NM          599248 non-null  category
 25  SCRB_PATH_NM_GRP      599248 non-null  category
 26  CH_FAV_RNK1           599248 non-null  category
 27  KIDS_USE_PV_MONTH1    599248 non-null  int64
 28  SVOD_SCRB_CNT_GRP     599248 non-null  int64
 29  PAID_CHNL_CNT_GRP     599248 non-null  int64
 30  TV_SCRB               599248 non-null  int64
 31  ANALOG_SCRB           599248 non-null  int64
 32  DIGITAL_SCRB          599248 non-null  int64
 33  TOTAL_INTERNET_SCRB   599248 non-null  int64
 34  GIGA_INTERNET_SCRB    599248 non-null  int64
 35  BUNDLE_YN             599248 non-null  int64
 36  DIGITAL_GIGA_YN       599248 non-null  int64
 37  DIGITAL_ALOG_YN       599248 non-null  int64
 38  TV_I_CNT              599248 non-null  int64
 39  AGE_GRP10             599248 non-null  int64
dtypes: category(15), int64(25)
memory usage: 132.7 MB

In [7]:
fin_sample.head(2)

,asset_prod,asset_nm,ct_cl,disp_rtm,is_hot_fl,is_new_fl,long_tail_fl,prevw_prd,studio,director,...,TV_SCRB,ANALOG_SCRB,DIGITAL_SCRB,TOTAL_INTERNET_SCRB,GIGA_INTERNET_SCRB,BUNDLE_YN,DIGITAL_GIGA_YN,DIGITAL_ALOG_YN,TV_I_CNT,AGE_GRP10
0,SVOD,수치심 없는 음탕 아줌마,기타,01:10,0,0,0,180,HMC,남근만,...,1,0,1,0,0,0,0,0,1,50
1,SVOD,호심 02회(A),TV드라마,00:40,0,0,0,180,HMC,허수페이,...,2,0,2,0,0,0,0,0,2,80

In [ ]:
import matplotlib.pyplot as plt
import lightgbm as lgb

# 모델 학습 후
lgb.plot_importance(model, max_num_features=20, importance_type='gain', figsize=(10,6))
plt.show()